{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>UaiDevs</title>
</head>
<body>
    
    <header>
        <span>&lt;&gt;UaiDevs</span>

        <nav id="nav-menu">
            <ul>
                <li><a href="#" class="link-nav">Solução</a></li>
                <li><a href="#" class="link-nav">Nichos</a></li>
                <li><a href="#" class="link-nav">Pilares</a></li>
                <li><a href="#" class="link-nav">FAQ</a></li>
                <li><a href="#" class="link-nav">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <span>AI AGENTS 2.0</span>
        <h1>Pare de perder leads para o silêncio</h1>
        <p>
            Integramos agentes inteligentes ao seu WhatsApp e CRM para qualificar leads, agendar reuniões e fechar vendas 24/7. Resposta em segundos, inteligência em cada palavra.
        </p>

        <a href="#">QUERO CONTRATAR MEU AGENTE DIGITAL</a>
    </section>
    
</body>
</html>