{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Integramos agentes inteligentes ao seu WhatsApp e CRM para qualificar leads, agendar reuniões e fechar vendas 24/7.">
    <meta name="theme-color" content="#050F18">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.2.0/css/line.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.2.0/css/solid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>UaiDevs</title>
</head>
<body>
    
    <header>

        <!-- Sapn apenas visual ==== Vai ser trocado por uma logo -->
        <span>&lt;&gt;UaiDevs</span>

        <nav id="nav-menu">
            <ul>
                <li><a href="#solucao" class="link-nav">Solução</a></li>
                <li><a href="#nichos" class="link-nav">Nichos</a></li>
                <li><a href="#pilares" class="link-nav">Pilares</a></li>
                <li><a href="#faq" class="link-nav">FAQ</a></li>
                <li><a href="#contato" class="link-nav">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="solucao">
            <span class="badge">AI AGENTS 2.0</span>
            <h1 class="titulo-solucao">Pare de perder leads para o <span class="texto-cor-secundaria">silêncio</span></h1>
            <p class="paragrafo-solucao">
                Integramos agentes inteligentes ao seu WhatsApp e CRM para qualificar leads, agendar reuniões e fechar vendas 24/7. <span class="texto-bold">Resposta em segundos, inteligência em cada palavra.</span>
            </p>
        
            <a class="btn-cta" href="#">QUERO CONTRATAR MEU AGENTE DIGITAL</a>
        </section>

        <section class="problema">
            <div class="container-heading-problema">
                <h2>O custo invisível do <span class="texto-vermelho">atraso</span></h2>
                <span class="overlay"></span>
            </div>
            <div class="container-card-problema">
                <div class="card-problema">
                    <i class="uil uil-stopwatch-slash icon-problema"></i>
                    <h3>Lead não espera</h3>
                    <p>
                        5 minutos é o limite. Após isso, a chance de conversão cai 400% enquanto seu concorrente responde mais rápido.
                    </p>
                </div>
                <div class="card-problema">
                    <i class="fa-solid fa-user-slash icon-problema"></i>
                    <h3>Fadiga humana</h3>
                    <p>
                        Sua equipe dorme, almoça e cansa. O lead chega às 23h e só é atendido às 09h do dia seguinte.
                    </p>
                </div>
                <div class="card-problema">
                    <i class="fa-solid fa-robot icon-problema"></i>
                    <h3>Robôs limitados</h3>
                    <p>
                        Chatbots tradicionais irritam o cliente com menus engessados. A falta de contexto mata o interesse.
                    </p>
                </div>
            </div>
        </section>


        <section class="alternativa">
            <div class="container-texto-alternativa">
                <h2 class="titulo-alternativa">Não é um Chatbot. É um <span class="texto-cor-secundaria">Cérebro Digital.</span></h2>
                <p>
                    Nossa solução utiliza IA Generativa de última geração integrada aos dados do seu negócio. Não é um fluxo engessado; é uma conversa real.
                </p>
            </div>

            <div class="container-card-alternativa">
                <div class="card-alternativa">
                    <i class="icon-alternativa"></i>
                    <h3>Memória e contexto</h3>
                    <p>
                        O agente lembra do histórico completo do cliente, evitando repetições e criando continuidade real.
                    </p>
                </div>
                <div class="card-alternativa">
                    <i class="icon-alternativa"></i>
                    <h3>Personalidade customizada</h3>
                    <p>
                        Adaptamos o tom de voz, gírias e o estilo de negociação exatamente conforme sua marca.
                    </p>
                </div>
                <div class="card-alternativa">
                    <i class="icon-alternativa"></i>
                    <h3>Ação real</h3>
                    <p>
                        Ele não apenas fala; ele agenda no Google Calendar, cria o card no CRM e envia links de pagamento.
                    </p>
                </div>
            </div>
        </section>
    </main>
    

    <!-- JSON-LD para Organization -->
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "UaiDevs",
    "url": "https://uaidevs.com.br",
    "description": "Integramos agentes inteligentes ao seu WhatsApp e CRM para qualificar leads, agendar reuniões e fechar vendas 24/7."
    }
    </script>
</body>
</html>