* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-body);
    font-family: var(--font-primary);
    padding-top: 7.1rem;
}

h1, h2, h3, h4 {
    color: var(--branco);
}

h2 {
    font-size: 3rem;
}

section[id] {
    scroll-margin-top: 8rem;
}

.texto-cor-secundaria {
    color: var(--secundaria);
}

.texto-vermelho {
    color: var(--vermelho);
}

.texto-bold {
    font-weight: var(--font-weight-bold);
}
