* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-body);
    font-family: var(--font-primary);
    padding-top: 7rem;
}


section[id] {
    scroll-margin-top: 8rem;
}

.texto-cor-secundaria {
    color: var(--secundaria);
}

.texto-bold {
    font-weight: var(--font-weight-bold);
}