header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem;
    height: 7rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--background-escuro);
}


nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul a{
    text-decoration: none;
    color: var(--branco-50);
    transition: .3s;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

nav ul a:hover {
    color: var(--secundaria);
    text-decoration: underline;
    text-underline-offset: .4rem;
}

.badge {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    background-color: var(--primaria);
    padding: .3rem .5rem;
    border: .05rem solid var(--secundaria);
    color: var(--secundaria);
}

.btn-cta {
    margin: 2rem 0rem;
    display: inline-block;
    padding: 1.25rem 2rem;
    background-color: var(--secundaria);
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-sm);
    text-decoration: none;
    color: #005D5D;
    box-shadow: 0rem 0rem .4rem var(--secundaria);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-cta:hover {
    transform: scale(1.01);
    box-shadow: 0rem 0rem .7rem var(--secundaria);
}

.overlay {
    margin-top: .5rem;
    display: block;
    height: .2rem;
    width: 8%;
    background-color: var(--vermelho);
}


footer {
    width: 100%;
    border-top: .2rem solid;
    border-image: linear-gradient(to right, var(--borda-escura), var(--borda-clara), var(--borda-escura)) 1;
}

.conteudo-footer {
    width: 100%;
    padding: 4.5rem 3.75rem;
    display: flex;
    justify-content: space-between;
}


footer ul {
    display: flex;
    list-style: none;
    gap: .5rem;
}

footer ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 30%;
    background-color: var(--branco);
    text-decoration: none;
    transition: all .3s ease-out;
}

footer ul a:hover {
    background-color: var(--secundaria);
    /* color: var(); */
}

.icon-footer {
    color: var(--primaria);
    font-size: var(--font-size-lg);
}

footer span {
    color: var(--branco);
}

.direitos-de-uso {
    background-color: var(--footer);
    padding: .7rem 3.75rem;
}

.direitos-de-uso p {
    color: var(--branco);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
}
