header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem;
    height: 7rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--background-body);
}


nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul a{
    text-decoration: none;
    color: var(--branco-50);
    transition: .3s;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

nav ul a:hover {
    color: var(--secundaria);
    text-decoration: underline;
    text-underline-offset: .4rem;
}

.badge {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    background-color: var(--primaria);
    padding: .3rem .5rem;
    border: .05rem solid var(--secundaria);
    color: var(--secundaria);
}

.btn-cta {
    margin: 2rem 0rem;
    display: inline-block;
    padding: 1.25rem 2rem;
    background-color: var(--secundaria);
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-sm);
    text-decoration: none;
    color: #005D5D;
    box-shadow: 0rem 0rem .5rem var(--secundaria);
    cursor: pointer;
    transition: all 0.3s ease;
}



.overlay {
    margin-top: .5rem;
    display: block;
    height: .2rem;
    width: 8%;
    background-color: var(--vermelho);
}