
@media (max-width: 1170px) {
    .card-nicho {
        min-height: 12rem;
    }
    
    header {
        padding: 0rem 6rem;
    }

    #solucao {
        padding: 6.5rem 6rem;
        padding-top: 0rem;
    }
}

/* ===============    1024    =================== */

@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }
    
    body {
        padding-top: 7.5rem;
    }

    section[id] {
        scroll-margin-top: 7.5rem;
    } 

    .card-alternativa {
        height: 16rem;
    }

    .container-card-alternativa div:last-child {
        height: 13.25rem;
    }
}

/* ===============    930    =================== */

@media (max-width: 930px) {
    .final-cta h2 {
        font-size: var(--font-size-3xl);
    }

    .container-cards-pilares {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-cards-nichos {
        grid-template-columns: repeat(3, 1fr);
    }


    .antes-depois {
        padding: 6rem 3rem;
    }
    
    .container-blocos {
        flex-direction: column;
        align-items: center;
    }

    .blocos {
        width: 80%;
    }


    #faq {
        padding: 6rem 17rem;
    }


    .alternativa {
        flex-direction: column;
        align-items: baseline;
    }

    .container-card-alternativa {
        width: 100%;
    }

    .container-texto-alternativa {
        width: 70%;
    }
    
    .card-alternativa {
        height: 13.25rem;
    }

    #contato {
        padding: 8.75rem 6.5rem;
    }

    .formulario {
        grid-template-columns: repeat(1, 1fr);
    }

    .container-button {
        justify-content: right;
    }

    .container-button button {
        padding: .8rem 1rem;
    }

}



.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    z-index: 101;
    cursor: pointer;
    padding: 0;
}

.menu-toggle span {
    width: 100%;
    border-radius: .25rem;
    height: .2rem;
    background-color: var(--secundaria);
    transition: all .3s ease;
}



/* ===============    890    =================== */

@media (max-width: 880px) {

    .menu-toggle {
        display: flex;
    }
    
    nav {
        position: fixed;
        top: 4rem;
        right: -100%;
        width: 70%;
        height: calc(100vh - 4rem);
        background-color: var(--background-escuro);
        border-left: 0.1rem solid var(--primaria);
        transition: right 0.3s ease;
        z-index: 100;
    }

    nav ul {
        padding: 2rem 0;
        flex-direction: column;
    }
    
    nav ul li {
        padding: 1rem 1.25rem;
        text-align: center;
    }

    nav.nav-aberta{
        right: 0;
    }

    #faq {
        padding: 6rem 13rem;
    }

    .final-cta {
        padding: 6rem 13rem;
    }
}


/* ===============    780    =================== */

@media (max-width: 780px) {
    html {
        font-size: 13px;
    }

    .container-card-problema {
        flex-wrap: wrap;
    }

    .feedback-conteudo {
        padding: 3.63 5rem;
    }

    .feedback {
        padding: 6rem 7.5rem;
    }

    #faq {
        padding: 6rem 10rem;
    }
}


/* ===============    720    =================== */

@media (max-width: 720px) {

    html {
        font-size: 12px;
    }
    
    .final-cta {
        padding: 6rem 10rem;
    }

    .final-cta h2 {
        line-height: var(--line-height-normal);
    }
}


/* ===============    660    =================== */

@media (max-width: 660px) {
    html {
        font-size: 10px;
    }

    p, li, label, input, textarea, summary, details p {
        font-size: 14px;
    }

    .container-gradiente {
        padding: 4rem 3rem;
    }
}


/* ===============    550    =================== */

@media (max-width: 550px) {
    html {
        font-size: 9px;
    }

    p, li, label, input, textarea, summary, details p {
        font-size: 14px;
    }
}


/* ===============    450    =================== */

@media (max-width: 450px) {
    html {
        font-size: 7px;
    }

    p, li, label, input, textarea, summary, details p {
        font-size: 14px;
    }

    #contato {
        padding: 8.75rem 0rem;
    }

    .container-form {
        width: 80%;
    }
}


/* ===============    400    =================== */

@media (max-width: 400px) {
    .feedback-conteudo {
        padding: 3.63 3.5rem;
    }

    .feedback {
        padding: 6rem 6.5rem;
    }

    #pilares {
        padding: 6rem 5rem;
    }

    .container-cards-pilares {
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-pilares {
        max-width: 80%;
    }

    
    #faq {
        padding: 6rem 8rem;
    }

    .final-cta {
        padding: 6rem 8rem;
    }
}


/* ===============    370    =================== */

@media (max-width: 370px) {
    html {
        font-size: 6px;
    }

    p, li, label, input, textarea, summary, details p {
        font-size: 14px;
    }
}


/* ===============    330    =================== */

@media (max-width: 370px) {
    html {
        font-size: 5px;
    }

    p, li, label, input, textarea, summary, details p {
        font-size: 14px;
    }
}