:root {
    /* ========== CORES ========== */
    --background-escuro: #050F18;
    --background-claro: #3f49541a;
    --background-verde: #004343;
    --background-card-problema: #182735;
    --background-card-problema-alternativa: #13212D;
    --background-bloco-antes: #0d1b296a;
    --background-form: #0A141D;
    --texto-bloco-antes: #E4EFFD;
    --primaria: #16202A;
    --secundaria: #00FFFF;
    --secundaria-80: rgba(0, 255, 255, 0.8);
    --secundaria-40: rgba(0, 255, 255, 0.4);
    --secundaria-20: rgba(0, 255, 255, 0.2);
    --secundaria-10: rgba(0, 255, 255, 0.1);
    --footer: #21262C;
    --botao-verde: #004B4B;
    --botao-cinza: #50565C;
    --branco: #ffffff;
    --branco-80: #ffffffcc;
    --branco-50: #ffffff80;
    --branco-02: rgba(255, 255, 255, 0.02);
    --preto-25: rgba(0, 0, 0, 0.25);
    --paragrafo: #A2ACB9;
    --vermelho: #fa5e58b3;
    --vermelho-claro: #f92b24e9;
    --borda-escura: #212a3400;
    --borda-clara: #8E9BAA;
    --borda-fqa-item: #3F49541A;

    /* ========== TIPOGRAFIA ========== */

    
    /* Font Families */
    --font-primary: 'Plus Jakarta Sans', sans-serif;

    /* Font Size Base */
    --font-size-base: 1rem;  /* 16px */

    /* Font Sizes - Escala 1.25 */
    --font-size-xs: calc(var(--font-size-base) * 0.75);      /* 12px */
    --font-size-sm: calc(var(--font-size-base) * 0.875);     /* 14px */
    --font-size-md: var(--font-size-base);                    /* 16px */
    --font-size-lg: calc(var(--font-size-base) * 1.125);     /* 18px */
    --font-size-xl: calc(var(--font-size-base) * 1.5);       /* 24px */
    --font-size-2xl: calc(var(--font-size-base) * 1.875);    /* 30px */
    --font-size-3xl: calc(var(--font-size-base) * 2.5);      /* 40px */
    --font-size-4xl-tight: calc(var(--font-size-base) * 3);  /* 48px */
    --font-size-4xl: calc(var(--font-size-base) * 3.5);      /* 56px */
    --font-size-5xl: calc(var(--font-size-base) * 4.5);      /* 72px */
    --font-size-7xl: calc(var(--font-size-base) * 5.5);      /* 88px */
    --font-size-9xl: calc(var(--font-size-base) * 6.5);      /* 104px */

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    /* Line Heights */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.75;
}
