/* ======================================================= */

/* ========  SOLUCAO  ======= */

/* ======================================================= */

#solucao {
    margin-top: .1rem;
    height: 90vh;
    padding: 0rem 10rem;
    width: 100%;
}

.titulo-solucao {
    font-weight: var(--font-weight-extra-bold);
    max-width: 40rem;
    margin: 2rem 0rem;
    font-size: var(--font-size-5xl);
}

.paragrafo-solucao {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-relaxed);
    font-weight: var(--font-weight-light);
    text-align: justify;
    max-width: 32rem;
    color: var(--paragrafo);
}


/* ======================================================= */

/* ========  PROBLEMA ======== */

/* ======================================================= */

.problema {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6rem 5rem;
    width: 100%;
    background-color: var(--background-claro);
}

.container-heading-problema h2 {
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-extra-bold);
}

.container-card-problema {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 3rem 0rem;
    gap: 3rem;
}

.card-problema {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 2.5rem;
    background-color: var(--background-card-problema);
    border-left: .2rem solid var(--vermelho);
}

.icon-problema {
    color: var(--vermelho);
    font-size: var(--font-size-2xl);
}

.card-problema p {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-normal);
    color: var(--paragrafo);
}

.card-problema h3 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}


/* ======================================================= */

/* ========  ALTERNATIVA  ======== */

/* ======================================================= */

.alternativa {
    padding: 7rem 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.container-texto-alternativa {
    width: 40%;
}

.titulo-alternativa {
    font-size: var(--font-size-4xl-tight);
    font-weight: var(--font-weight-extra-bold);
}

.container-texto-alternativa p {
    margin-top: 1.5rem;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-lg);
    color: var(--paragrafo);
}

.container-card-alternativa {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.container-card-alternativa .card-alternativa:last-child{
    grid-column: span 2;
}

.card-alternativa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13.25rem;
    background-color: var(--background-card-problema-alternativa);
    border: .05rem solid rgba(63, 73, 84, 0.1);
    border-radius: .7rem;
    padding: 2rem;
}

.container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secundaria-10);
    width: 3rem;
    height: 3rem;
    border-radius: .2rem;
}

.icon-alternativa {
    color: var(--secundaria);
    font-size: var(--font-size-lg);
}

.card-alternativa h3 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
}

.card-alternativa p {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
    color: var(--paragrafo);
}


/* ======================================================= */

/* ========  NICHOS  ======== */

/* ======================================================= */

#nichos {
    padding: 6rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-claro);
}

.container-cards-nichos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin-top: 3rem;
}

.card-nicho {
    height: 14rem;
    width: 14.375rem;
    background-color: var(--background-escuro);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-nicho {
    color: var(--secundaria);
    font-size: var(--font-size-lg);
}

.card-nicho h3 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
}

#nichos h2 {
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-2xl);
}

/* ======================================================= */

/* ========  PILARES  ======== */

/* ======================================================= */

#pilares {
    padding: 6rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-cards-pilares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-top: 3rem;
    gap: 2rem;
}

.card-pilares span {
    color: var(--secundaria-40);
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-extra-bold);
}

.card-pilares h3{
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}

.card-pilares p {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    color: var(--paragrafo);
}

.card-pilares {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#pilares h2 {
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-2xl);
}


/* ======================================================= */

/* ====  ANTES E DEPOIS  ======== */

/* ======================================================= */

.antes-depois {
    padding: 6rem 5.43rem;
    background-color: var(--background-claro);
}

.container-blocos {
    display: flex;
}

.bloco-antes {
    background-color: var(--background-bloco-antes);
    
}

.bloco-antes h3 {
    color: var(--texto-bloco-antes);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.texto-antes p {
    color: var(--texto-bloco-antes);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
}

.bloco-depois {
    background-color: var(--background-escuro);
    border-left: .1rem solid var(--secundaria-20);
}

.bloco-depois h3 {
    color: var(--secundaria);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.texto-depois p {
    color: var(--texto-bloco-antes);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
}

.blocos {
    width: 50%;
    height: 18.25rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-antes, .texto-depois {
    display: flex;
    align-items: center;
    gap: .15rem;
}

.icon-antes {
    color: var(--vermelho);
}

.icon-depois {
    color: var(--secundaria);
}


/* ======================================================= */

/* ========  FEEDBACK  ======== */

/* ======================================================= */

.feedback {
    padding: 6rem 10.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-feedback {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--branco-02);
    border-radius: .5rem;
    margin-top: 5rem;
}

.feedback-conteudo {
    padding: 3.62rem 8.25rem 0rem 8.25rem;
    width: 100%;
    text-align: center;
}

.icon-feedback {
    color: var(--branco);
    font-size: var(--font-size-4xl);
}

.feedback-texto {
    color: var(--branco-80);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xl);
    margin: 2rem 0rem;
}

.feedback-autor h3 {
    color: var(--branco-80);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

.feedback-autor p {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    color: var(--branco-80);
}

.feedback-controls {
    display: flex;
    justify-content: right;
    padding: 0rem 3.37rem 3.37rem 0rem;
}

.setas {
    color: var(--branco-80);
    font-size: var(--font-size-md);
    transition: .3s;
}

.setas:hover {
    color: var(--secundaria);
}

.heading-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.heading-feedback span {
    background-color: var(--botao-verde);
    padding: .4rem;
    border-radius: 1rem;
    color: var(--secundaria );
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-md);
}

.heading-feedback h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-4xl-tight);
}

.container-overlays {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
    margin: 2rem 0rem;
}

.indicador {
    width: 8%;
    height: .1rem;
    background-color: var(--branco-50);
    border: none;
    cursor: pointer;
    border-radius: .25rem;
    transition: background-color 0.3s ease;
}

.indicador.active {
    background-color: var(--secundaria);
}

.feedback-btn {
    background-color: transparent;
    border: none;               
    outline: none;                 
    padding: 0;             
    margin: 0;                    
    cursor: pointer;            
    font-family: inherit;         
    color: inherit; 
}

.carrosel-feedback {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.feedback-card {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    min-height: 15rem;
}

.feedback-card.active {
    display: block;
    opacity: 1;
}

.container-quotes {
    position: absolute;
    top: -4rem;
    left: 3rem;
}

.icon-quote {
    color: var(--secundaria);
    font-weight: var(--font-weight-bold);
    font-size: 100px;
}